---
- name: Install Node.js
  become: true
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - nodejs
    - npm

- name: Install dependencies
  npm:
    path: "{{ api_path }}"

- name: Add backend path to service
  lineinfile:
    path: "{{ template_path }}"
    regexp: '^WorkingDirectory='
    insertafter: '^#WorkingDirectory='
    line: "WorkingDirectory={{ api_path }}"

- name: "Deploy API service ({{ service_name }})"
  become: true
  template:
    src: roles/rest_api/templates/atmrestapi.service.j2
    dest: /etc/systemd/system/atmrestapi.service
    mode: 755

- name: Start API service
  become: true
  service:
    name: "{{ service_name }}"
    state: restarted
    enabled: yes
